[submodule "TDG22018-sebymar"]
	path = TDG22018-sebymar
	url = git@github.com:Onmi-Engineering/TDG22018-sebymar.git

[submodule "OCA/purchase-workflow"]
	path = OCA/purchase-workflow
	url = git@github.com:OCA/purchase-workflow.git
	branch = 16.0

[submodule "OCA/l10n-spain"]
	path = OCA/l10n-spain
	url = git@github.com:OCA/l10n-spain.git
	branch = 16.0
